################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Block_4/.vs
/Block_4/Block4_SMS_OTP/bin
/Block_4/Block4_SMS_OTP/obj
/Block_4/obj
/Block_6/.vs
/Block_6/Block6_SSO/bin
/Block_6/Block6_SSO/obj
/Block_6/obj

/Block_8/.vs
/Block_8/Block7_Session/bin
/Block_8/Block7_Session/obj
/Block_8/obj

/Block_12/.vs
/Block_12/Block12_SQLInjection/bin
/Block_12/Block12_SQLInjection/obj
/Block_12/obj

/Block_16/.vs
/Block_16/Block16_Logging/bin
/Block_16/Block16_Logging/obj
/Block_16/obj

/Block_11/.vs
/Block_11/Block11_rolebaseAuthentication/bin
/Block_11/Block11_rolebaseAuthentication/obj
/Block_11/obj